.customNavbar {
  background-color: #040938 !important;
}

.customNavbar .navbar-brand,
.customNavbar .nav-link {
  color: white !important;
}

.customNavbar .nav-link:hover {
  color: #f1f1f1 !important;
}
